doctype html
html
head
title=SchoolDiary
body
h1(style="text-align:center ; text-transform:uppercase;") School Diary
if (message)
h4 #{message}
div(style="text-align:center;background-color:lightgrey;width:25%;border:3px solid green;padding:50px;margin:auto;")
	form(role='form' method='POST' action='/signup')
		div.form-group(style="margin-bottom:20px")
		label(for='username') Username: 
		input#email.form-control(type='username', placeholder='name' name='username')
		div.form-group(style="margin-bottom:20px")
		label(for='email') Email: 
		input#email.form-control(type='email', placeholder='name@email.com' name='email')
		div.form-group(style="margin-bottom:20px")
		label(for='password') Password: 
		input#name.form-control(type='password', placeholder='Password' name='password')
		button(type="submit", name="asdf", style=("display: block;width: 100%;border: none;background-color: #04AA6D;padding: 14px 28px;font-size: 16px;cursor: pointer;text-align: center;margin:10px")) Sign me Up!
